# Server
PORT=5000
NODE_ENV=development

# Database
MONGODB_URI=mongodb://localhost:27017/quickhire

# Admin Key (send this in header: x-admin-key)
ADMIN_KEY=your_admin_secret_key_here

# CORS
FRONTEND_URL=http://localhost:3000
